[user]
	name = Sean Carey
	email = wycleffsean@gmail.com
[diff]
	tool = bc3
	prompt = false
[merge]
	tool = bc3
[difftool]
	bcomp = trustExitCode
[mergetool]
	bcomp = trustExitCode
[core]
	excludesfile = /Users/sean/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp $LOCAL $REMOTE
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp $LOCAL $REMOTE $BASE $MERGED
	trustExitCode = true
[push]
	default = simple
[alias]
	ignored = ls-files -o -i --exclude-standard
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	filelog = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --numstat -u -- 
